body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

header{
text-align: center;
border: 2px solid black;
}

img{
max-width: 99%;
border: 2px solid black;
}

main{
border: 2px solid black;
}

h2{
    text-align: center;
}

nav{
border: 2px solid black;
white-space: nowrap;
}

footer {
border: 2px solid black;
text-align: center;
padding-bottom: 20px;
}

article {
border: 2px solid black;
margin:10px;
}

